:root{
    --background-blue: #162938;
    --font-primary: #ffffff;
    --font-secondary: #325469;
    --btn-bg-primary: #8599A2;
}

body{
    box-sizing: border-box;
    background: var(--background-blue);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--font-primary);
    height: 100vh;
}

.app{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.modal{
    /* box-sizing: border-box; */
    width: 35rem;
    background: var(--font-primary);
    margin: auto;
    padding: 6% 3%;
    border-radius: 15px;
    box-shadow: 12px 12px 20px 0px rgb(0 0 0 / 36%);
}

.head{
    display: flex;
    justify-content: center;
    color: var(--background-blue);
    font-size: 2.5em;
    margin: 0;
}

h2{
    font-size: 20px;
    color: var(--font-secondary);
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.btn{
    height: 45px;
    width: 100%;
    border: 0;
    border-radius: 20px;
    color: var(--font-primary);
    background: var(--btn-bg-primary);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 5% 0 5%;
}
.btn:not(:last-child){
    margin-right: 10px;
}

input{
    visibility: hidden;
}

.theme, .players, .grid{
    /* margin-bottom: 30px; */
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

a{
    width: 100%;
}

.start__btn button{
    color: var(--font-primary);
    height: 50px;
    width: 100%;
    border: 0;
    border-radius: 30px;
    background: #FDA215;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.active {
    background: var(--background-blue);
}

.buttons button:hover{
    background: #264358;
}

.start button:hover{
    background: #ff6600;
}

@media screen and (max-width: 768px){
    .modal{
        box-sizing: border-box;
        padding: 4% 6%;
        margin-left: 20px;
        margin-right: 20px;
    }
}